{% extends 'base.html' %}
{% load static %}

{% block title %} About us {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2 gy-5">
                <div class="card" style="background-color: rgb(95 71 71 /43%)">
                    <div class="card-header">
                        <h2 class="text-center">Nice to meet you</h2>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body text-center">


                                <h5>Welcome to Beauty Center, where beauty meets excellence.</h5>
                                <h5>Located in the heart of the city, our salon offers a luxurious escape from the everyday
                                hustle and bustle.</h5>
                                <h5>Our highly trained and experienced team of beauty professionals is
                                dedicated to providing you with the highest quality services, ensuring you leave feeling
                                refreshed, rejuvenated, and absolutely stunning.</h5>
                                <h5>At Beauty Center, we believe that beauty is more than just skin deep.</h5>
                                <h5>That's why we offer a comprehensive range of services designed to enhance your natural
                                beauty and boost your confidence.</h5>
                                <h5>Book your appointment today and let us help you shine.</h5>

                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'home_page' %}" class="btn btn-secondary">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}