{% extends 'base.html' %}
{% load static %}

{% block title %} Beauty Center Services  {% endblock %}


{% block content %}

    <div class='container-fluid' >
        <div class="row " >
            {% for service in all_services %}
                <div class="col-md-8 offset-md-2 gy-4">

                    <div class="card" style="background-color: rgb(95 71 71 /43%)">
                        <div class="card-body">

                            <h1 class="card-title text-center" >{{ service.name }}</h1>
                            <p class="card-text text-center">Duration: {{ service.duration }} MIN</p>
                            <p class="card-text text-center">Price: {{ service.price }} RON</p>
                            <p class="text-center"><a href="{% url 'create_reservation' %}" class="btn btn-success">Reservation</a></p>
                        
                            
                            
                            {% if user.is_superuser %}
                            <div class="dropdown text-center">
                            
                                <a href="{% url "update_service" service.id %}" class="btn btn-secondary">Update</a>
                                <a href="{% url "delete_service" service.id %}" class="btn btn-danger">Delete</a>
                                
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}