{% extends 'base.html' %}
{% load static %}

{% block title %} Beauty Center Services  {% endblock %}


{% block content %}

    <div class='container-fluid' >
        <div class="row" >
            {% for service in all_services %}
                <div class="col-md-3 gy-3" >
                
                    <div class="card" style="background-color: rgb(95 71 71 /43%)">
                        <div class="card-body">
                            
                            <h5 class="card-title" >{{ service.name }}</h5>
                            <p class="card-text">Duration: {{ service.duration }} MIN</p>
                            <p class="card-text">Price: {{ service.price }} RON</p>
                            
                            <div class="dropdown">
                                
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false" style="background-color: burlywood">
                                    More Actions
                                </button>
                                
                                <ul class="dropdown-menu" style="background-color: bisque">
                                    <li>
                                        <a class="dropdown-item" href="{% url "update_service" service.id %}">Update</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url "delete_service" service.id %}">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}