{% extends 'base.html' %}
{% load static %}

{% block title %} Your Reservations  {% endblock %}

{% block content %}
    <div class='container-fluid' >
        <div class="row" >
            {% for reservation in all_reservations %}
                <div class="col-md-12 gy-5" >
                
                    <div class="card" style="background-color: rgb(95 71 71 /43%)">
                        <div class="card-body">
                            <h3 class="card-title"> {{ reservation.stylist_service }}</h3>
                            <h4 class="card-text">Date: {{ reservation.datetime_from }} </h4>
                            
                            {% if user.is_authenticated %}
                                <div class="dropdown text-right">
                                <a href="{% url "update_reservation" reservation.id %}" class="btn btn-secondary">Update</a>
                                <a href="{% url "delete_reservation" reservation.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}