{% extends 'base.html' %}
{% block title %} Reviews {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <table class="table table-striped" style="background-color: burlywood">
                    <thead>
                    <tr>
                        <th class="text-center" style="background-color: burlywood">Stylist</th>
                        <th class="text-center" style="background-color: burlywood">Stars</th>
                        <th class="text-center" style="background-color: burlywood">Review</th>
                        <th class="text-center" style="background-color: burlywood"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for review in all_reviews %}
                        <tr>
                        <td class="text-center" style="background-color: rgb(95 71 71 /43%)">{{ review.stylist }}</td>
                        <td class="text-center" style="background-color: rgb(95 71 71 /43%)">{{ review.stars }}</td>
                        <td class="text-center" style="background-color: rgb(95 71 71 /43%)"> {{ review.description }}</td>
                        <td class="text-center" style="background-color: rgb(95 71 71 /43%)">
                        <div>
                           <a href="{% url "update_review" review.id %}" class="btn btn-outline-success" >Update</a>
                            <a href="{% url "delete_review" review.id %}" class="btn btn-outline-danger" >Delete</a>
                        </div>
                        </td>
                    {% endfor %}
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}