
{% extends 'base.html' %}

{% block title %} About us {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 gy-5 gx-5">
                <div class="card" style="background-color: rgb(95 71 71 /43%)">
                    <div class="card-header">
                        <h1 class="text-center">Contact details</h1>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body" style="background-color: burlywood">
                            <h2 class="text-right" >Adresă</h2>
                            <h5 class="text-right" >Str. Sperantei 18, Sector 2, Bucuresti</h5>
                            <h2 class="text-right" >Telefon</h2>
                            <h5 class="text-right" >+40 747 238 542</h5>
                            <h2 class="text-right" >Email</h2>
                            <h5 class="text-right" >beautycenter@gmail.com</h5>
                            <h2 class="text-right" >Program</h2>
                            <h5 class="text-right" > Luni - Vineri: 9:00 - 19:00</h5>
                            <h5 class="text-right" >Sâmbătă: 9:00 - 14:00</h5>
                            <h5 class="text-right" >Duminică: Închis</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'home_page' %}" class="btn btn-secondary" style="background-color: burlywood">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

