{% extends 'base.html' %}
{% load static %}

{% block title %} About us {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 gy-5 gx-5">
                <div class="card" style="background-color: rgb(95 71 71 /43%)">
                    <div class="card-header">
                        <h1 class="text-center">Contact details</h1>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body" >

                            <h3 class="text-right">Address</h3>
                            <h6 class="text-right">Str. Sperantei 18, Sector 2, Bucuresti</h6>
                            <h3 class="text-right">Phone Number</h3>
                            <h6 class="text-right">+40 747 238 542</h6>
                            <h3 class="text-right">Email</h3>
                            <h6 class="text-right">beautycenter@gmail.com</h6>
                            <h3 class="text-right">Schedule</h3>
                            <h6 class="text-right"> Luni - Vineri: 9:00 - 19:00</h6>
                            <h6 class="text-right">Sâmbătă: 9:00 - 14:00</h6>
                            <h6 class="text-right">Duminică: Închis</h6>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'home_page' %}" class="btn btn-secondary"
                               >Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}