{% extends 'base.html' %}
{% load static %}

{% block title %} Meet our team! {% endblock %}


{% block content %}
    <style>
        .stars {display: flex;}
        .star {font-size: 1.5rem; color: gold}
        img { object-fit: cover}
          h4 {
            display: flex;
            justify-content: center;
            align-items: center;}
    </style>

    <div class='container-fluid'>
        <div class="row">
            {% for stylist in all_stylists %}
                <div class="col-md-3 gy-3 text-center">
                    <div class="card " style="background-color: rgb(95 71 71 /43%)">
                        {% if stylist.profile %}
                            <img src="{{ stylist.profile.url }}" height="350" class="card-img-top"
                                 alt="imagine profile">
                        {% else %}
                            <img src="{% static 'images/img_2.png' %}" height="300" alt="Imagine profile">
                        {% endif %}
                    
                        <div class="card-body ">
                            <h4 class="card-text"> {{ stylist.stylistservice_set.first }} </h4>
                            <h5 class="card-text"> {{ stylist.description }} </h5>
                            <h4 class="card-text text-center"> 
                                <span 
                                        class="stars ">{{ stylist.stars_avg|floatformat:1 }} 
                                    <span class="star" data-value="1">&#9733;</span>
                                        <a href="{% url "reviews_list" %}?stylist={{ stylist.id }}">({{ stylist.stars_count }})</a>
                                </span>
                            </h4>
                        
                            <p class="text-center"><a href="{% url 'create_reservation' %}" class="btn btn-success">Reservation</a></p>
                            <p></p>
                        
                            {% if user.is_superuser %}
                                <div class="dropdown text-center">
                                <a href="{% url "update_stylist" stylist.id %}" class="btn btn-secondary">Update</a>
                                <a href="{% url "delete_stylist" stylist.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            {% endif %}
                        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}